*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: column;

}

form div input{
    padding: 5px;
    border-color: red;
    border-radius: 5px;
}

form button{
    border: none;
    padding: 7px;
    background-color: blue;
    color: white;
    width: 100%;
    margin-top: 10px;
    border-radius: 9px;

}

form button:hover{
    background-color: black;
}